Dependencies
node_modules/
vendor/
.venv/
venv/
env/

Build artifacts
dist/
build/
*.o
*.a
*.so

IDE
.vscode/
.idea/
*.swp
*.swo
~
.DS_Store

Environment variables
.env
.env.local
.env..local

Logs
*.log
logs/

Temporary files
tmp/
temp/
*.tmp

OS
Thumbs.db
.DS_Store

Terraform
*.tfstate
.tfstate.
.terraform/
.terraform.lock.hcl

Docker
.dockerignore

Python
pycache/
*.py[cod]
*.egg-info/

Misc
*.bak
.cache/

*-secret.yaml
*-configmap.yaml